.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.logo {
    width: 35px;
    height:35px;
}

.bg-gradient-1 {
    background-image: linear-gradient(to right, black , red);
}

.bg-light-grey {
    background-color: lightgray;
}

.bg-dark-grey {
    background-color: darkgrey;
}

.bg-white {
    background-color: white;
}

.border-solid {
    border-style: solid;
}

.border-bottom-sm {
    border-bottom: 5px solid black;
}

.margin-all-5 {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.border-all {
    border: 1px solid black;
}

.padding-all-5 {
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
}

.padding-bottom-sm {
    padding-bottom: 1px;
}

.padding-top-5 {
    padding-top: 5px;
}

.margin-bottom-sm {
    margin-bottom: 1px;
}

.round-corners {
    border-radius: 25px;
}

.top-right {
    margin-top: 35px;
}

.nav-tab {
    text-align: center;
    border: .5px solid black;
    color: black;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}

a:focus {
    outline: none;
    box-shadow: none;
}

.tab-active {
    background-color: white;
    border-bottom: 1px solid white;
}

.tab-inactive {
    background-color: darkgrey;
}

.nav > li > a:hover {
    background-color: lightgrey;
    color: white;
}

#login-button {
    width: 100%;
}

#register-button {
    width: 100%;
}

#login-form {
    padding-top: 5px;
}

#user-details {
    padding-top: 3px;
    padding-right: 5px;
}

#logout-button {
    width: 80px;
    margin-left: 10px;
}

#xkcd-refresh {
    width:15px;
    height:15px;
    margin-right: 5px;
}

.fa-trash-alt:hover {
    color:red;
}

.player-class-dk {
    color: red;
}

.player-class-dh {
    color: purple
}

.player-class-monk {
    color: green;
}

.player-class-rogue {
    color: yellow;
}

.player-class-mage {
    color: lightblue;
}

.player-class-warlock {
    color: plum;
}

.player-class-shaman {
    color: blue;
}

.player-class-hunter {
    color: lightgreen;
}

.player-class-druid {
    color: orange;
}

.player-class-paladin {
    color: pink;
}

.player-class-warrior {
    color: goldenrod
}